.main {
  padding: 45px 60px;

  .content {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-box {
        display: flex;
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }

        .search {
          font-family: inherit;
          height: 45px;
          border: 1px solid #F3F3F3;
          border-radius: 10px;
          outline: none;
          padding: 0 20px 0 50px;
          font-size: 16px;

          &::placeholder {
            color: #C4C4C4;
          }
        }
      }
    }

    &__cards {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
    }
  }
}