.main {
  padding: 45px 60px;

  .content {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-box {
        display: flex;
        position: relative;

        .search-ico {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }

        .search {
          font-family: inherit;
          height: 45px;
          border: 1px solid #F3F3F3;
          border-radius: 10px;
          outline: none;
          padding: 0 20px 0 50px;
          font-size: 16px;

          &::placeholder {
            color: #C4C4C4;
          }

          &:focus {
            border: 1px solid #969595;
          }
        }

        .clearSearchField {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FFFFFF;
          border: 1px solid #DBDBDB;
          border-radius: 8px;
          cursor: pointer;
          height: 32px;
          width: 32px;
          transition: background .3s;

          &:hover {
            background: #e7e7e7;
          }
        }
      }
    }

    &__cards {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
    }
  }
}